In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#load the datasets
df=pd.read_csv("/home/osboxes/Desktop/housingShort_data.csv")
df

      sqft_living         price
0            1234  1.300000e+07
1            1340  3.130000e+05
2            3650  2.384000e+06
3            1930  3.420000e+05
4            2000  4.200000e+05
...           ...           ...
4596         1510  3.081667e+05
4597         1460  5.343333e+05
4598         3010  4.169042e+05
4599         2090  2.034000e+05
4600         1490  2.206000e+05

[4601 rows x 2 columns]